html{
  font-family: 'Simpsonfont', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(nubesSimpsons.jpg);
}

body h1, h2 {
  -webkit-text-stroke: 0.4px #000000; /*propiedad para darle un grosor y color determinado al font*/ 
  color: #FFDE00;
}

header {
  display: block; 
  background-size: cover;
  background-position: left bottom;
  /*position: fixed;
  top:0;
  width: 100%;*/
}

.header-img{
  width: 95rem;
  padding: 0%;
}

header select, option {
  font-family: 'Simpsonfont', sans-serif;
}

body div {
  background-color:darkcyan;
  padding: 5px;
}

.root {
  display: flex;
}

ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

li{
  background-color:darkcyan;
  width: 21rem;
  -webkit-text-stroke: 1px #000000; /*propiedad para darle un grosor y color determinado al font*/ 
  color: #625603;
  font-weight: bold;
  border: black 8px solid;
  margin: 1rem;
  border-radius: 7%;
  padding-left: 1rem;
  

}

img{
  height: 15rem;
  width: 10rem;
  padding-left: 4rem;
  padding-top: 1rem;
  
}